.App {
  text-align: center;
}

.card {
  margin-bottom: 15px;
  margin-right: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #fffaf1;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.h4 {
  text-align: center;
}

#cartCard {
  padding-top: 150;
  height: 450px;
  width: 250px;
  background-color: #fff6ce33;
  border-color: #ff2a2a9c;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

#card_body {
  background-color: #fff6ce33;
  border-color: #fff6ce33;
  color: black;
}

.cartCard {
  display: grid;
  grid-template-columns: auto auto auto auto auto;

}


.sticky-nav {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0.7rem 2rem;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  position: fixed;
  top: 0;
  background-color: rgb(251 248 228);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
}


@media screen and (max-width: 600px) {
  .homePics {
    display: flex;
    flex-direction: column;
  }

  .image_homepic {
    width: 100%;
  }

}

.tab {
  display: inline-block;
  margin-left: 1200px;
}

.tab1 {
  margin-left: 150px;
}

.bcCart3 {
  width: 30px;
  height: 30px;
  color: #ff6060;
}

#i {
  margin-top: 10px;
}

#totalPay {
  opacity: 0;
}

#bill {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: auto;
  margin-right: auto;
}

#ModalBody {
  margin-left: auto;
  margin-right: auto;
}

#emptyCart {
  text-align: center;
  color: rgb(77, 49, 29);
}

#notEmptyCart {
  text-align: center;

}

#total {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#oder {
  color: chocolate;
}


#cartButton {
  background-color: #fff6ce33;
  border-color: #fff6ce33;
  color: black;
}

#aboutText {
  font-size: medium;
  /* font-style: italic; */
  font-size-adjust: inherit;
  font-variation-settings: unset;
}

#deleteButton {
  background-color: #ff6d7442;
  /* border-color: #ff2a2a9c; */

}

/* #deleteButton button :hover {
  background-color: #ddd;
  color: black;
}

#deleteButton button.active {
  background-color: #04AA6D;
  color: white;
} */
#OutOfStock {
  opacity: 0;

}

#Shop {
  /* margin-top: 50px; */
  padding-top: 60px;
}



#img {
  --s: 15px;
  /* size of the frame */
  --b: 2px;
  /* border thickness */
  --w: 200px;
  /* width of the image */
  --c: #ffbbbb;
  ;

  width: var(--w);
  aspect-ratio: 1;
  object-fit: cover;
  padding: calc(2*var(--s));
  --_g: var(--c) var(--b), #0000 0 calc(100% - var(--b)), var(--c) 0;
  background:
    linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
    linear-gradient(90deg, var(--_g)) 50%/var(--_i, 100%) 100% no-repeat;
  outline: calc(var(--w)/2) solid #0000;
  outline-offset: calc(var(--w)/-2 - 2*var(--s));
  transition: .4s;
  cursor: pointer;
  width: 100%;
}

#img:hover {
  outline: var(--b) solid var(--c);
  outline-offset: calc(var(--s)/-2);
  --_i: calc(100% - 2*var(--s));
}


#forAbout:not(img) {
  height: 300px;
}



.cardShop {
  margin-bottom: 15px;
  margin-right: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background: #262626;
  overflow: hidden;
}

.cardShop .imgBx,
.cardShop .details {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  transition: .5s;
}

.cardShop .imgBx {
  top: 0;
  left: 0;
}

.cardShop:hover .imgBx {
  top: 0;
  left: -100%;
}

.cardShop .imgBx img {
  width: 100%;
}

.cardShop .details {
  background: #262626;
  top: 0;
  left: 100%;
  padding: 60px 30px;
}

.cardShop :hover .details {
  top: 0;
  left: 0%;
}

.cardShop .details h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0 0 10px;
  border-bottom: 2px solid #fff;

}

.cardShop .details p {
  margin: 20px 0 0;
  color: #fff;
}

#cart_Card {
  margin-left: auto;
  margin-right: auto;
}


.about{
  font-family: 'Brush Script MT', cursive;
  color: chocolate;
  font-size: 70px;
}
.gallery {
  --s: 200px; /* control the size */
  --g: 10px;  /* control the gap */
  
  display: grid;
  gap: var(--g);
  grid-template-columns: repeat(2,auto);
  position: relative;
}

.gallery > img {
  width: var(--s);
  aspect-ratio: 1;
  object-fit: cover;
  -webkit-mask: conic-gradient(from var(--_a),#0000 90deg,#000 0);
          mask: conic-gradient(from var(--_a),#0000 90deg,#000 0);
}
.gallery > img:nth-child(1) {--_a: 90deg}
.gallery > img:nth-child(2) {--_a:180deg}
.gallery > img:nth-child(3) {--_a:  0deg}
.gallery > img:nth-child(4) {--_a:-90deg}
.gallery > img:nth-child(5) {
  position: absolute;
  inset: calc(50% - .5*var(--s));
  clip-path: inset(calc(var(--g)/4));
}


.homeBody {
  margin: 0;
  min-height: 80vh;
  display: grid;
  place-content: center;
  /* background: #709b5f; */
}











/***********************************************/
/* @import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
figure.snip0019 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  text-align: center;
}
figure.snip0019 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0019 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0019 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}
figure.snip0019 figcaption > div {
  float: left;
  height: 100%;
  overflow: hidden;
  width: 50%;
  position: relative;
}
figure.snip0019 figcaption::before {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  width: 2px;
  content: '';
  opacity: 0;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0019 h2,
figure.snip0019 p {
  margin: 0;
  padding: 20px;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
  transition: opacity 0.45s,-webkit-transform 0.45s,-moz-transform 0.45s,-o-transform 0.45s,transform 0.45s;
}
figure.snip0019 h2 {
  text-align: right;
  display: inline-block;
  word-spacing: -0.1em;
  font-weight: 300;
  text-transform: uppercase;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(50%, 0%, 0);
  transform: translate3d(50%, 0%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0019 h2 span {
  font-weight: 800;
}
figure.snip0019 p {
  display: block;
  bottom: 0;
  text-align: left;
  font-weight: 300;
  top: 0%;
  color: #000;
  background: #ffffff;
  -webkit-transform: translate3d(-50%, 0%, 0);
  transform: translate3d(-50%, 0%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0019 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.snip0019:hover img {
  opacity: 0.7;
}
figure.snip0019:hover figcaption h2,
figure.snip0019:hover figcaption p {
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0019:hover figcaption h2 {
  opacity: 1;
}
figure.snip0019:hover figcaption p {
  opacity: 1;
}
figure.snip0019:hover figcaption::before {
  background: #ffffff;
  top: 0px;
  bottom: 0px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
} */


/* Demo purposes only */
/* html {
  height: 100%;
} */



@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
figure.snip0016 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  text-align: left;
  /* border-color: #ff6060; */
}
figure.snip0016 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0016 img {
  max-width: 100%;
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0016 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 3em;
  width: 100%;
  height: 100%;
}
figure.snip0016 figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 100%;
  border-left: 4px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0016 h2,
figure.snip0016 p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
figure.snip0016 h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(30%, 0%, 0);
  transform: translate3d(30%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0016 h2 span {
  font-weight: 800;
}
figure.snip0016 p {
  font-weight: 200;
  -webkit-transform: translate3d(0%, 30%, 0);
  transform: translate3d(0%, 30%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0016 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.snip0016:hover img {
  opacity: 0.3;
}
figure.snip0016:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
figure.snip0016:hover figcaption p {
  opacity: 0.9;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0016:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  left: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

#shopImg{
  border-color: #ffbbbb;
  border-image: #ffbbbb;

}



